

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

Wordpress area:
<form name="post-form" id="post-form">
    <label for="title">PiD</label>
    <input type="text" name="title" id="title">
     
    <label for="status">Stato del post</label>
    <select name="status" id="status">
        <option value="publish">Pubblica</option>
        <option value="draft">Bozza</option>
    </select>
     
    <label for="content">Dublin Core</label>
	<textarea name="content" id="content"></textarea>

	<input type="submit" name="submit" value="Submit">
	
	</form>






	
<ul onmouseover="if(getElementById('login')){add_class('login','transparent')}; if(getElementById('lang')){add_class('lang','transparent')}; if(getElementById('search-detail')){add_class('search-detail','transparent')};">
</head>

Dublin Core searcher:<input type='text' name='codice' id='codice'/><br />

<button  onClick='mostra()'  height="20px" width="50px">  </button><br />


<script type="text/javascript">


function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
	$(document).ready(function(){
	  var url = "https://phaidradev.cab.unipd.it/api/object/o:"+testo+"/dc";
	  $.getJSON(url, function(response){
		console.log(response.metadata.dc);
		$.each(response.metadata.dc, function(a,campo){
		  console.log(campo);
		  $(".dc").append(campo.xmlname + ": " + campo.ui_value + "<br />");
		});
	  });
	});
}



</script>

	<div class="dc">	
	
        
  
<script>
var postForm = $( '#post-form' );
 
postForm.on( 'submit', function( e ) {
    e.preventDefault();
     
    $.ajax({
        url: 'http://localhost/wordpress/wp-json/wp/v2/posts',
        method: 'POST',
        data: postForm.serialize(),
        crossDomain: true,
        beforeSend: function ( xhr ) {
            xhr.setRequestHeader('authorization', 'Basic d29yZHByZXNzOndvcmRwcmVzcw==');
        },
        success: function( data ) {
            console.log( data );
        }
    });
});


</script>
<br></br>
 



